.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white !important;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
}

.pp {
    background: url("../../images/pppp.png");
    background-repeat: no-repeat;
}


/* hr {
    border: 2px solid #ff6357 !important;
    border-radius: 5px !important;
    width: 200px;
} */

.line2 {
    display: flex;
    padding: 20px;
}

span {
    padding-left: 50px;
    margin-top: -10px;
}

.line {
    width: 200px;
    height: 5px;
    border-radius: 50px;
}

.hero .btn {
    background-color: #ff6357;
}

.hero .social-icons {
    display: flex;
    flex-direction: column;
    float: right;
}