.news-bg {
    background-color: #001427;
    height: 300px;
}

.news-bg h4 {
    color: #ff6357;
    font-size: 30px;
}

.content {
    padding-top: 50px;
}

.news-bg p {
    color: white;
    width: 400px;
}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

input {
    background-color: transparent;
    color: #787878;
    border: 1px solid #787878;
    padding: 10px 50px 10px 50px;
}

.news-bg button {
    background-color: #ff6357;
    color: white;
    border: none;
    margin: 20px 0 0 170px;
}