.bg {
    /* background-image: url("/src/images/bg.png"); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/images/bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* filter: grayscale(100%); */
}

.blur {
    z-index: 9999;
}

.nav {
    color: white !important;
    padding-right: 30px !important;
}

div .toggle {
    color: #fff !important;
    border: none !important;
}